:root{
    --color1 : rgb(255, 235, 205);
    --color2 : rgb(11, 30, 94) ;
    --color3 : rgb(207, 164, 255);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: var(--color2);
    scroll-behavior: smooth;
}

.site-header{
background:var(--color1);
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        90deg,
        var(--color1) 35%
        ,var(--color2) 0%
    );
}

nav{
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav div h4{
    padding: 5px 0 0 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    width: fit-content;
}

ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: -20px;
    right: 10px;
}

li{
    list-style: none;
    padding: 0 0 0 30px;
}

li button,.input{
    font-family: monospace serif;
    font-weight: 500;
    background-color: var(--color1);
    color: var(--color2);
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 0% 40%;
    box-shadow: -2px 2px 10px 1px rgb(20, 15, 15),
                -4px 4px 20px 2px rgb(20, 14, 14);
    outline: none;
}

li button:focus{
    border: solid 2px var(--color1);
    border-radius: 0% 40%;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.myName, .myDescription{
    font-size: 2em;
    width: unset;
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%,-50%); 
}

.myDescription{
    top: 40%;
}

.myName::after,.myDescription::after{
    content: 'Sumit Dhakad';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color2);
    z-index: 1;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.myDescription::after{
    content: 'self taught web developer.';
}

.myTittle h2 span, .myTittle h6 span{
    color: var(--color1);
}

.resumeLink{
    position: relative;
    left: 15%;
    top: 45%;
    width: fit-content;
}

.resumeLink a{
    color: rgb(117, 22, 78);
    padding: 10px;
    text-decoration: none;
    max-width: fit-content;
}

.links img{
    max-width: 25px;
    height: 25px;
}

.links span{
    color: rgb(117, 22, 78);
    opacity: 0;
    padding: 5px;
}

.links:hover>span{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.links:hover>img{
    max-width: 35px;
    height: 35px;
    transition: all 0.1s ease-in-out;
}

.showImage{
    position: absolute;
    right: 5%;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.showImage h1{
    color: var(--color1);
}

.showImage img{
    width: 90px;
    margin: 10px;
}

#reactImg{
    animation: react 7s linear infinite;
}

@keyframes react{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

.contactForm{
    position: relative;
    width: fit-content;
    top: 25%;
    left: 75%;
    display: flex;
    flex-wrap: wrap;
}

.contactForm input{
    height: 0 40px;
    margin: 0 10px;
    padding: 5px;
    border-radius: 0 40%;
    background-color: var(--color1);
    box-shadow: 4px 4px 5px black,
                8px 8px 5px rgba(0, 0, 0, 0.199);
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

/* #Home{
    visibility: hidden;
    height: 0;
    overflow: hidden;
} */


.about-me{
    position: relative;
    bottom: -60%;
    left: 0;
    padding: 30px;
}

.about-me p{
    color: rgb(119, 119, 119);
    word-wrap: normal;
}

#projects{
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

#projects{
    width: 100%;
    background: url('https://images.pexels.com/photos/2453286/pexels-photo-2453286.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#projects div{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectCover{
    max-width: 300px;
    height: 350px;
    margin: 30px 0px 90px 0px;
    background-color: rgba(137, 43, 226, 0);
    z-index: 2;
}

.project{
    background: linear-gradient(135deg,  
                rgba(187, 186, 186, 0.623) 35%, 
                rgba(71, 71, 71, 0.575) 75%);
                
    padding:0 10px 10px 20px;
    position: relative;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 270px;
    height: 420px;
    filter: blur(0.3px);
    border-radius: 20%;
    border-top: 2px solid rgb(192, 192, 192);
    border-left: 2px solid rgb(192, 192, 192);
    border-right: 2px solid rgb(97, 96, 96);
    border-bottom: 2px solid rgb(97, 96, 96);
    box-shadow:4px 4px 8px 5px rgba(0, 0, 0, 0.623);
}



.project h3,.project a,.project p{
    z-index: 1;
    color: rgb(4, 4, 41);
    font-weight: bold;
    transform-style: preserve-3d;
    transform: translate3d(0,0,200px);
}

.project h3{
    font-size: 1.4rem;
}

.project p{
    font-weight: 450;
    overflow: hidden;
    padding-left: 3px;
}

.project a{
    font-weight: 400;
    color: var(--color3);
}

.project h1{
    position: absolute;
    cursor: default;
    font-weight: bold;
    font-size: 10rem;
    opacity: 0.3;
    filter: blur(1.5px);
}

.projectImage img{
    max-width: 560px;
    height: 200px;
}

@media (max-width: 600px) {
    :root{
        --color1 : rgb(205, 255, 251);
        --color2 : rgb(3, 58, 1) ;
        --color3 : rgb(128, 126, 8) ;
    }

    *{
        overflow: scroll;
    }

    .projectCover{
        height: fit-content;
        padding:20px;
    }

    .resumeLink{
        overflow: visible;
    }

    .links{
        position: relative;
        left: -45%;
    }

    .links span{
        opacity: 1;
    }

    .contactForm{
        left: 68%;
        width: 100px;
    }

    .contactForm .input{
        margin: 3px;
        float: right;
        box-shadow: 2px 2px 5px 2px rgb(185, 176, 176);
    }

    .showImage{
        flex-direction: column;
    }

@media (min-width: 1400px) {
    :root{
        --color1 : rgb(110, 236, 245);
        --color2 : rgb(42, 1, 58) ;
        --color3 : rgb(255, 255, 255) ;
    }

    nav{
        font-size: 3rem;
    }
    .myName{
        font-size: 7rem;
    }
    .myDescription{
        font-size: 2rem;
    }
    .links img{
        max-width: 75px;
        height: 75px;
    }
    .links:hover>img{
        max-width: 95px;
        height: 95px;
        transition: all 0.1s ease-in-out;
    }
    .showImage h1{
        font-size: 3rem;
    }
    
    .showImage img{
        width: 240px;
        margin: 30px;
    }


    .projectCover{
        max-width: 400px;
        height: 450px;
        margin: 40px 0px;
    }
    
    .project{       
        padding:0 10px 10px 20px;
        width: 150px;
        max-width: 370px;
        height: 400px;
        
    }
    
    .project h3{
        font-size: 3rem;
    }
    
    .project p{
        font-size: 1.6rem;
    }
    
    .project a{
        font-size: 1.4rem;
    }
    
    .project h1{
        font-size: 15rem;
    }

    #projects{
        padding-top: 100px;
    }
    .contactForm .input{
        font-size: 3rem;
    }
}
